# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# Other temporary files
*.log

# Profiling and test output
*.prof
.pytest_cache/

# Old files
old_*.py

# Research files 
# RESEARCH/
RESEARCHa/