# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# Other temporary files
*.log

# Profiling and test output
*.prof
.pytest_cache/

# Extra test files and Full dataset
multi_SATLIB_solver.py
SATLIB_Full/
test.py
old_vc.py